* {
    margin:0 auto;
}

.form {
    padding: 20px;
}

.button {
    display: flex;
    padding: 5px 15px;
    align-items: center;
    min-width:200px;
}

.icon{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.hidden {
    display:none;
}