* {
    margin:0 auto;
}

.button {
    display: flex;
    padding: 5px 15px;
    align-items: center;
}

.icon{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.button-icon{

}

.hidden-icon{
 
}

.visible {
    display:block;
}

.hidden {
    display:none;
}