:root {
    --pri:#0067A3;
    --sec: #0079BF;
    --ter:#5E6C84;
    --brd: #EBECF0;
    --tsk: #fff;
    --txt: #000;    
}

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;700&display=swap');


body {    
    margin:0;
    background: var(--sec);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.container {
    margin-left:10px;
    width: 23vw;
    max-height: 100vh;
    border-radius:10px;
    background: var(--brd);
    /*margin:0 auto;*/
    display:inline-block;
}

@media screen and (max-width: 768px) { 
    .container {
        min-width:90vw;
        align-self:center;
    }
    
}