.main {
  height: 600px;
  background-color: #0079bf;
  padding: 22px 20px;

  .main__wrap {
    display: flex;
    justify-content: space-between;
  }

}

.btnAdd {
  display: flex;
  margin-top: 17px;
  align-items: center;
  width: 102px;
  height: 29px;
  color: #5e6c84;
  border-radius: 5px;
  background-color: #ebecf0;


  .img {
    padding-left: 3px;
    margin-right: 4px;
  }
}

.btnAdd:hover {
  background-color: white;
}
.btnSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102px;
  height: 29px;
  color: white;
  border-radius: 5px;
  background-color: #0079bf;
  margin-top: 17px;
}